/* generale properties */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

/* header properties */
header{
    border-bottom: 40px solid #F6F8FA;
}

header img{
    width: 100px;
}

header h1{
    display: inline-block;
    font-size: 3em;
}

header a{
    text-decoration: none;
    color: black;
}
/* main properties */
main{
    background-color: #f6f8f9;
}

.container{
    margin: auto;
    width: 60%;
    background-color: white;
}
/* top part of the container */
.container.top{
    border-bottom: 2px solid #f6f8f9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 30px;
}

.task{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px;
}

.task.add{
    background-color: #46adf1;
    color: white;
}

.task.new{
    background-color: white;
    color: grey;
}
/* end container top */

/* bottom part of the container */
.container.bottom{
    padding: 10px 30px;
}


/* new-tasks */
.new-tasks h4{
    margin-bottom: 10px;
    font-weight: bolder;
}


/* check-marks properties */
.state{
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    color: #66c1aa;
    font-size: 20px;
    margin-right: 10px;
}

.state.check{
    border: 2px solid #66c1aa;
}

.state.to-do{
    border: 2px solid #ed584f;
}
/* end check-marks */


/* badges properties */
.badge{
    display: inline-block;
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.badge.editorial{
    background-color: #45abe9;
}

.badge.q1goals{
    background-color: #9c72e4;
}

.badge.recruiting{
    background-color: #62c0a8;
}

.badge.mobile{
    background-color: #f29e33;
}

.badge.website{
    background-color: #d763a1;
}

.badge.sales{
    background-color: #b0c925;
}
/* end badge properties */